<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAS_NAS_Connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SAS_NAS_Connector.Properties.Settings>
            <setting name="DefaultHost" serializeAs="String">
                <value>shell1.sas.rutgers.edu</value>
            </setting>
            <setting name="DefaultShare" serializeAs="String">
                <value>\\res1-hill.sas.rutgers.edu\abrairalab</value>
            </setting>
            <setting name="DefaultPersistance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NeedsSSHLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultDrive" serializeAs="String">
                <value>V:</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>RAD</value>
            </setting>
        </SAS_NAS_Connector.Properties.Settings>
    </applicationSettings>
</configuration>